@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.btn-style-t {
    color: rgb(223, 223, 223) !important;
    border-radius: 5rem;
    height: 53px;
    border: none !important;
    background-color: rgb(40, 77, 183);
    font-size: 30px !important;
}

.btn-style-b {
    color: rgb(255, 255, 255) !important;
    border-radius: 5rem;
    height: 53px;
    border: none !important;
    background-color: rgb(184, 184, 184);
    font-size: 30px !important;
}

.btn-style-b:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(184, 184, 184) !important;
}

.btn-nb {
    border: none !important;
}

.btn-round {
    height: 50px;
    border-radius: 5rem;
}

.btn-size {
    font-size: 30px !important;
}

.btn-transp {
    border: none !important;
    background-color: transparent;
}

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(90, 88, 88, 0.01);
}

::-webkit-scrollbar-thumb {
    background: rgba(121, 119, 119, 0.651);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(77, 75, 75, 0.76);
}

.btn-admin {
    background: #2a87a5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.modal {
    width: 45rem;
    position: absolute;
    max-height: 90vh;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    margin-top: 50px;
}

@media (min-width: 930px) {
    .modal {
        width: 45rem;
        left: calc(50% - 20rem);
        border-radius: 14px;
    }
}

/* Main  */
.main-admin {
    margin: 3rem auto;
    width: 92%;
    min-height: calc(100vh - 13rem);
}

@media (max-width: 768px) {
    .main-admin {
        margin: 1rem auto;
        min-height: calc(100vh - 9rem);
    }
}

/* Section  */
.card-admin {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #ccc;
}

.users-container {
    width: 100%;
}

/* Table  */
.table-wrapper {
    position: relative;
    /* height: calc(100vh - 20rem - 40px); */
    overflow-y: scroll;
    background: white;
    overflow: auto;
    width: 100%;
    margin-bottom: 5px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 3rem;
}

.table {
    width: 100%;
}

.table thead {
    position: sticky;
    width: 100%;
    top: 0;
    background: white;
    z-index: 1;
}

.table thead tr {
    color: white;
}

.table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.table th:hover {
    cursor: pointer;
    text-decoration: underline;
}

.icon {
    height: 13px;
}

.table th:hover .icon {
    opacity: 1;
}

.table th .icon {
    margin-left: 10px;
    opacity: 0;
}

.table th .active-icon {
    opacity: 1;
}

.table tr th,
.table tr td {
    width: 14.28%;
}

.table tbody tr {
    margin: 0px 5px;
    height: 64px;
}

.table tbody td {
    line-height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    padding: 5px;
    height: 64px;
}

.table td.center {
    text-align: center;
}

.table tbody {
    position: relative;
}

.table tbody tr:nth-child(1n) {
    background: rgba(7, 6, 6, 0.3);
    color: white;
}

.table tbody tr:nth-child(2n) {
    background: rgba(199, 198, 198, 0.3);
    color: black;
}

.table tbody tr:hover {
    background: rgba(90, 133, 150, 0.514);
}

.table tr.loading {
    background-color: transparent !important;
}

.no-content {
    text-align: center;
}

.error {
    text-align: center;
    color: #943232;
}

.no-content .icon,
.error .icon {
    font-size: 5rem;
    color: #943232;
}

@media (max-width: 768px) {
    .table {
        width: 800px;
    }

    .table-wrapper::-webkit-scrollbar {
        height: 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .table-wrapper::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        background: #999;
    }

    .table td,
    .table th {
        text-align: left;
    }
}

/* Td */
.image-admin {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    padding: 2px;
    border: 1px solid rgb(147, 145, 145);
    display: flex;
    margin: auto;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px !important;
    margin: auto;
}

.actions svg {
    font-size: 1rem;
}

/* Action buttons  */

.btn:disabled,
.btn.save:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.5);
}

.btn:disabled svg,
.btn.save:disabled svg {
    color: #ccc;
}

.btn-admin:hover {
    opacity: 0.9;
    box-shadow: 1px 2px 8px black;
}

.btn-admin svg {
    color: inherit;
    font-size: 1.25rem;
}

.btn.save {
    background-color: rgb(81, 194, 123);
}

.btn.cancel {
    background-color: rgb(231, 108, 108);
}

.btn.close {
    background-color: transparent;
    padding: 5px 10px;
    height: auto;
}

.btn.close svg {
    color: black;
}

.before {
    margin-right: 10px;
}

.after {
    margin-left: 10px;
}

.btn-admin {
    padding: 5px;
    color: white;
    width: 30px;
    height: 30px;
}

.btn-admin svg {
    margin: 0;
}

.btn-admin:hover {
    opacity: 1;
}

.delete-btn {
    background-color: #d9534f;
}

.edit-btn {
    background-color: #5cb85c;
}

/* Add user button  */
.btn-add {
    padding: 5px 20px;
    width: auto;
    margin-left: 4rem;
    border-radius: 5rem;
    margin-top: 2rem;
}

/* User details styles  */
.detail-container {
    width: 100%;
    height: 40vh;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
}

.header h2 {
    margin-bottom: 0px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

.image-container {
    margin-right: 20px;
}

.image-container .img-admin-profile {
    border-radius: 50%;
    width: 210px;
    height: 210px;
    object-fit: cover;
    flex: 4;
}

.user-details {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px !important;
}

.user-details p {
    margin-bottom: 10px;
}

.user-details p:last-of-type {
    margin-bottom: 0px;
}

@media (min-width: 681px) and (max-width: 1000px) {
    .detail-container {
        height: 66vh;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .image-container .img-admin-profile {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 680px) {
    .detail-container {
        min-width: 66vw;
        min-height: 75vh;
        width: 100%;
        height: auto;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .image-container {
        margin-right: 0px;
        justify-content: center;
        margin: 10px 0px;
    }

    .image-container .img-admin-profile {
        width: 120px;
        height: 120px;
    }

    .user-details {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    .detail-container {
        min-width: 63vw;
        min-height: 70vh;
        width: 100%;
        height: auto;
    }

    .user-details {
        align-items: stretch;
    }
}

@media (max-width: 400px) {
    .detail-container {
        min-width: 63vw;
    }

    .user-details > p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Add/Edit form styles  */
.user-container {
    width: 100%;
    height: 100%;
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.header h2 {
    margin-bottom: 0px;
}

.input-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.input-wrapper span {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #d5dee6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input-wrapper span i {
    width: 28px;
    height: 1 em;
    min-width: 28px;
    display: inline-block;
    font-size: 1.2em;
    color: #000000;
    vertical-align: -0.125em;
}

.input-wrapper input {
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #d5dee6;
    border-left: none;
    outline: none;
    height: 50px;
    padding: 6px 12px;
    background-color: #f7f7f7;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

.form-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.form-group {
    margin-right: 10px;
    width: 47%;
}

.form-group .form-error {
    color: #d9534f;
    min-height: 20px;
}

.long-line {
    width: 98%;
    margin-top: 15px;
}

#form-actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

#action-save {
    width: 5em;
    height: 3em;
    margin-right: 20px;
    background-color: rgb(81, 194, 123);
}

#action-cancel {
    width: 5em;
    height: 3em;
    margin-right: 20px;
    background-color: rgb(231, 108, 108);
}

/*   Responsive table */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    /* border: 1px solid #ddd; */
    text-align: center;
    font-size: 16px;
}

.table th {
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

@media (max-width: 790px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.text-admin {
    background-color: #dddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparant;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    height: 100px;
    transition: all 0.2s;
}

.text-admin:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.text-admin:focus {
    color: #333333;
    background-color: white;
    border-color: #333333;
}

.image_admin_guard {
    width: 80%;
    height: 90%;
    margin-left: 2rem;
}
